<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="">
                Sentiment Analysis with MeaningCloud
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Text that you want to analyse">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section>
                <strong>Results</strong>
                <p><strong>Agreement: </strong><span id="agreement"></span></p>
                <p><strong>Subjectivity: </strong><span id="subjectivity"></span></p>
                <p><strong>Confidence: </strong><span id="confidence"></span></p>
                <p><strong>Irony: </strong><span id="irony"></span></p>

            </section>
        </main>

        <footer>
            <p>npalimaka 2021</p>
        </footer>

    </body>
</html>
