body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;

    p {
        padding: 5px;
    }
}

header, footer {
    background-color: #017e7e;
    color: #fff;
    font-family: monospace;
}
